transformers>=5.6.0
jupyterlab
numpy
pandas
ipywidgets
tqdm
torch
accelerate
soundfile
scipy
datasets
python-dotenv
openai==3.24.0
jiwer==4.0.0
huggingface_hub
silero-vad
streamlit==1.65.0
streamlit-webrtc==0.64.5
av>=15.1.0
